
Pas/P1/untitled\.c

Pas/P1/Prueba/untitled\.c

Pas/P1/Prueba/pene/Ej1\.txt

Pas/P1/Prueba/Prueba\.o

Pas/P1/Prueba/Ej1\.txt

*.txt

Pas/P1/Prueba\.o

Pas/P1/Ej3vic\.sh

Pas/P2/tenllado_perez_Andres_PASJun1718P2\.tar\.gz
